In [1]:
import configparser
%load_ext sql

In [2]:
config = configparser.ConfigParser()
config.read('dwh.config')

DWH_DB_USER = config['DWH']['DWH_DB_USER']
DWH_DB_PASSWORD = config['DWH']['DWH_DB_PASSWORD']
DWH_DB_HOST = config['DWH']['HOST']
DWH_PORT = config['DWH']['DWH_PORT']
DWH_DB_NAME = config['DWH']['DWH_DB_NAME']

conn_string=f"postgresql://{DWH_DB_USER}:{DWH_DB_PASSWORD}@{DWH_DB_HOST}:{DWH_PORT}/{DWH_DB_NAME}"
%sql $conn_string

In [3]:
%sql SELECT * FROM public.songplays WHERE songid IS NOT NULL AND artistid IS NOT NULL LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfikorxpisj2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('8fa0f501051728fb94d4f5f9dbabd760', datetime.datetime(2018, 11, 9, 0, 12, 27, 796000), 42, 'paid', 'SOSMXVH12A58A7CA6C', 'AR6PJ8R1187FB5AD70', 275, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 ('301ddf1ead6b07e5aec1cb56b1814b5d', datetime.datetime(2018, 11, 13, 20, 20, 44, 796000), 29, 'paid', 'SOKUAEP12A8C13BE19', 'ARLLWJQ1187B9B06A7', 556, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 ('92e9c21e2a7fe11f324f1d72ff3d436d', datetime.datetime(2018, 11, 10, 8, 20, 13, 796000), 44, 'paid', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 ('691910ed22a50766a6446037a61c53c6', datetime.datetime(2018, 11, 22, 13, 21, 20, 796000), 101, 'free', 'SOUHTWB12A8C13BA4D', 'AR96LYR1187B9ABABD', 790, 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 ('210325d9e87b811bf5df921fdd8500ec', datetime.datetime(2018, 11, 10, 9, 29, 42, 796000), 44, 'paid', 'SOWLLXC12AB0180FFE', 'AR66PLO1187FB4C8E5', 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [4]:
%sql SELECT COUNT(*) FROM public.songplays WHERE songid IS NOT NULL AND artistid IS NOT NULL;

 * postgresql://dwhuser:***@dwhcluster.cfikorxpisj2.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(329,)]

In [5]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfikorxpisj2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 20, 0, 35, 56, 796000), 0, 20, 47, '11', 2018, '2'),
 (datetime.datetime(2018, 11, 14, 8, 23, 12, 796000), 8, 14, 46, '11', 2018, '3'),
 (datetime.datetime(2018, 11, 13, 20, 6, 43, 796000), 20, 13, 46, '11', 2018, '2'),
 (datetime.datetime(2018, 11, 9, 16, 32, 19, 796000), 16, 9, 45, '11', 2018, '5'),
 (datetime.datetime(2018, 11, 21, 1, 9, 37, 796000), 1, 21, 47, '11', 2018, '3')]

In [6]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfikorxpisj2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOIKLJM12A8C136355', 'Eso Duele', 'AR7AE0W1187B98E40E', 2003, Decimal('196')),
 ('SOBHMBE12AB0188C09', 'Call Me', 'AR0Z2F41187B9B2E1F', 2006, Decimal('249')),
 ('SOPNNET12A67020484', 'Midnight At The Oasis (Album Version)', 'AR6GL7N1187B9A5B23', 2004, Decimal('201')),
 ('SOVUIHM12A8C13E3AB', 'Symphony No. 3 in D major D200: First movement: Adagio maestoso - Allegro con brio', 'AR820DX11C8A4157C3', 0, Decimal('458')),
 ('SOPAZAM12A6D4F6F05', 'You Are God (Broken Album Version)', 'ARVMFE61187B992463', 2003, Decimal('352'))]

In [7]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfikorxpisj2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AREH0IP119B8667CB3', 'Annotations of an Autopsy', 'London', Decimal('51'), Decimal('0')),
 ('ARLDDJ01187FB48E7E', 'Henry Gendrot', 'Vancouver, B.C., Canada', Decimal('49'), Decimal('-123')),
 ('ARZQYSZ1187FB3AC39', 'Ghostface', 'Staten Island, NY', None, None),
 ('ARUPWVD1187FB4DA36', 'Badly Drawn Boy', None, None, None),
 ('ARYOGF31187FB44E53', 'New Orleans Klezmer Allstars', None, None, None)]

In [8]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfikorxpisj2.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(66, 'Kevin', 'Arellano', 'M', 'free'),
 (62, 'Connar', 'Moreno', 'M', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (25, 'Jayden', 'Graves', 'M', 'paid'),
 (84, 'Shakira', 'Hunt', 'F', 'free')]